.list {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}
.list>li:first-of-type {
	margin: 5px 0;
}
.list>li:not(:first-of-type) {
	margin: 5px;
}
.list>li {
	border: 1px solid blue;
	line-height: 25px;
}
.list>li>a {
	width: 100%;
	display: block;
	padding: 5px;
}
.searching{
	animation-name:searching;
	animation-duration:3s;
	animation-timing-function: linear;
	animation-delay:  0;
	animation-iteration-count: infinite;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #b87cff;
    border: none;
    color: #fff;
    pointer-events: none;
    outline: none;
    margin-left: 20px;
}

@-webkit-keyframes searching
{
	from {transform:rotateY(0);}
	to {transform:rotateY(720deg);}
}